.all{
	
	height: 100%;
}
.container-style {
	margin: 0px;
	padding: 0px;
}

.atop {
	margin: 0px;
	padding: 0px;
	height: 30%;
	width: 100%;
	
}
.btop {
	margin: 0px;
	padding: 0px;
	height: 20%;
	width: 100%;
}
.top-pic{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

span.lf {
	font-family: cursive;
	font-size: 40px;
	color: #FFFFFF;
	position: absolute;
	top: 10%;
	left: 40%;
}

span.rg {
	font-family: cursive;
	font-size: 35px;
	color: #FFFFFF;
	position: absolute;
	top: 20%;
	left: 65%;
}

#zerorg {
	margin-top: 70px;
}

.long-line {
	margin: 0px;
	background-color: black;
	height: 100%;
}

.long-line-inside {
	margin-top: 10px;
	margin-left: 25%;
	margin-right: 10%;
	height: 100%;
}

.serverlist {
	
	height: 50%;
	margin-bottom: 10px;

}


.serverlist-in {
	
	
	font-size: 20px;
	border: solid 1px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	
}

li.server {
	margin-bottom: 10px;
	list-style:none;
}

ul.font-list {
	font-size: 32px;
	color: #FFFFFF;
}


.bottom {
	background-color: black;
	height: 60%;
}


.ul-list {
	margin:0px;
	padding: 0px;
}