{% extends "base.html" %}

{% block body %}
<div class="container-fluid" style="height: 100%;">
	<div style="background-image: url(static/img/login.jpg); width: 100%;height: 100%; background-size: cover;">
		<div  style="margin-left: 30%;margin-right: 30%;padding-top: 10%; padding-top: 10%;color: #FFFFFF;font-size: 20px;">
			<div style="border-bottom: 1px dashed white;margin-top: 8%;">
				<ul class="free_server" style="list-style-type: none;">
					<li  style="font-size: 30px">请保管好你的服务器地址，不定时会更新!</li>
					<li>ip地址:</li>
					<li>端口:</li>
					<li>密码:</li>
					<li></li>
				</ul>		
			</div>
			
		</div>
		
	</div>
</div>
{% endblock %}
