{% extends "base.html" %}
{% block head %}


<script src="static/js/style.js" type="text/javascript"></script>
{% endblock %}

{% block body %}


<div class="fluid-container">
	<div class="a">1</div>
	<div class="a">2</div>
	


	<div class="long-line">
		<div class="long-line-inside">
			<h1>cc-data,免费梯子供应商～</h3>
			<ul class="font-list">
				<li>ccdata免费代理，给你最快的数据体验</li>
				<li>全新fly技术，youtu1080P畅想</li>
				<li>24小时更新，专业维护，永不宕机</li>
				<li>freedom is all～</li>
			</ul>
			<a class="btn btn-default btn-lg" href="#">注册领用免费vps！！</a>
		</div>
	</div>


	<div class="col-md-3 col-sm-4 serverlist">
		<div class="serverlist-in">
			one
		</div>
	</div>
	<div class="col-md-3 col-sm-4 serverlist">
		<div class="serverlist-in">
			two
		</div>
	</div>
	<div class="col-md-3 col-sm-4 serverlist">
		<div class="serverlist-in">
			three
		</div>
	</div>
	<div class="col-md-3 col-sm-4 serverlist">
		<div class="serverlist-in">
			four
		</div>
	</div>
	
</div>





{% endblock %}
