{% extends "base.html" %}
{% block head %}


<script src="static/js/style.js" type="text/javascript"></script>
{% endblock %}

{% block body %}


<div class="fluid-container all">
	<div class="atop">
		<div style="height: 100%;">
			<img class="top-pic" src="static/img/dark.gif" alt="dark-img">
			<span id="lf" class="lf"></span>
			<span id="rg" class="rg" style=""></span>
		</div>
	</div>
	
	

<div class="btop">
	<div class="long-line col-md-8">
		<div id="zeroo" class="long-line-inside">
			<h1 id="zero" style="color: #FFFFFF; display: none;">cc-data,免费梯子供应商～</h1>
			<ul class="font-list">
				<li style="display: none;" id="first">ccdata免费代理，给你最快的数据体验</li>
				<li style="display: none;" id="second">全新fly技术，youtu1080P畅想</li>
				<li style="display: none;" id="third">24小时更新，专业维护，永不宕机</li>
				<li style="display: none;" id="forth">freedom is all～</li>
				<li style="display: none;" id="fifth">all you need is my promise!!!</li>
			</ul>
			
			
		</div>
	</div>
		
	<div class="long-line col-md-4">
		<div id="zerorg" style="display: none;">
			<a class="btn btn-default btn-lg" href="#">注册领用免费vps！！</a>	
			<a href="#">
				<h3 style="color: #FFFFFF;">更多优惠活动，点这里～</h3>
			</a>
		</div>
		
	</div>
</div>	
	<div class="bottom"></div>
</div>





{% endblock %}
