{% extends "base.html" %}


{% block head %}


<script src="static/jquery-1.8.3/jquery.min.js"> </script>
<script src="static/highchars/highcharts.js"></script>	
{% endblock %}

{% block body %}
<div style="border-style: none;background-color: #f5f7f9;padding-bottom: 0px;">
	<h1 style="text-align: center;padding-top: 50px;padding-bottom: 50px;font-size: 36px;margin:0px;font-family: cursive;">
		CCdata数据
		<br>
		
	</h1>
	

</div>

<div style="background: #e3eff5;text-align: center;padding-top: 25px;padding-bottom: 25px;">
	<span style="color: #004a7c;font-size: 16px;">
		<strong style="font-family: cursive;">
			ccdata提供免费代理，给你最快的数据体验
			
		</strong>
		
	</span>
</div>

<div style="border-style: none;background-color: #f5f7f9;padding-bottom: 0px;">
	<h1 style="text-align: center;padding-top: 50px;padding-bottom: 50px;font-size: 36px;margin:0px;font-family: cursive;">
		接口调用支持http\websocket协议，支持golang，支持python。
		<br>
		
	</h1>
	

</div>

<div style="background: #e3eff5;text-align: center;padding-top: 25px;padding-bottom: 25px;">
	<span style="color: #004a7c;font-size: 16px;">
		<strong>
			全新fly技术，提供及时行情接口
			
		</strong>
	</span>
</div>




<div class="container">
	<div id="container" style="min-width: 400px;height: 400px;"></div>	

</div>

<div style="border-style: none;background-color: #f5f7f9;padding-bottom: 0px;">
	<h1 style="text-align: center;padding-top: 50px;padding-bottom: 50px;font-size: 36px;margin:0px;">
		CC数据！定时消息推送。
		<br>
	</h1>
	

</div>
<div style="background: #e3eff5;text-align: center;padding-top: 25px;padding-bottom: 25px;">
	<span style="color: #004a7c;font-size: 16px;">
		<strong>
			关于本站
			
		</strong>
	</span>
</div>
<script src="static/js/char.js" type="text/javascript">
</script>
{% endblock %}
