{% extends "base.html" %}


{% block body %}
<div class="container">
	<div class="pageList">
		<a href="#" class="btn btn-white">1</a>
		<a href="#" class="btn btn-white">2</a>
		<a href="#" class="btn btn-white">3</a>
		<a href="#" class="btn btn-white">...</a>
		<a href="#" class="btn btn-white">7</a>
	</div>
	<ul style="list-style-type: none;margin-top: 2%;">

		{% for data in datas %}
			<li style="background-color: #f9f9f9;font-size: 18px;border-bottom: 1px dashed #ddd;">
				<div style="display: block;">
					<p style="font-size: 25px;font-weight: bold;color: #3499da;">{{ data.name }}</p>			
				</div>
				<div style="display: block;">
					describe:{{ data.summary }}
				</div>
				<div style="display: block;">
					<p>
						<span>
							country:{{ data.country }}
						</span>
						
						<span style="margin-left: 150px;">
							 amount:{{ data.amount }}
						</span>
					</p>
				</div>
			</li>
		
		{% endfor %}	
	</ul>
	
</div>


{% endblock %}