{% extends "base.html" %}


{% block body %}
<div class="container">
	
	<ul style="list-style-type: none;margin-top: 2%;">

		{% for data in datas %}
			<li style="background-color: #f9f9f9;font-size: 18px;border-bottom: 1px dashed #ddd;margin-bottom: 10px;">
				<div style="display: block;">
					<p style="font-size: 25px;font-weight: bold;color: #3499da;">{{ data.name }}</p>			
				</div>
				<div style="display: block;">
					describe:{{ data.summary }}
				</div>
				<div style="display: block;">
					<p>
						<span>
							country:{{ data.country }}
						</span>
						
						
					</p>
				</div>
			</li>
		
		{% endfor %}	
	</ul>
	
</div>


{% endblock %}